<!DOCTYPE html>
<html lang="en-GB">
  <head>
	<link rel="stylesheet" href="/assets/style/style.css" />
  </head>
  <body>
    <div class="content centre-with-padding" id="content">
      {{ content | safe }}
  </body>
</html>
