@import url(pallete.css);
@media (prefers-color-scheme: dark) {
	body {
		--bg: var(--black);
		--bg-01: var(--grey-09);
		--bg-02: var(--grey-08);
		--fg: var(--white);
		--accent: var(--blue-04);
		--accent-underline: var(--blue-09);
		--accent-selected: var(--red-07);
		--a11y-focus: #54aeff;
	}
}

@media (prefers-color-scheme: light) {
	body {
		--bg: #e2f4fb;
		--bg-01: #b6c6cc;
		--bg-02: #9eaab4;
		--fg: #1b1f24;
		--accent: #e3363a;
		--accent-selected: #b4195a;
		--a11y-focus: #54aeff;
	}
}

body {
	background-color: var(--bg);
	color: var(--fg)
}

pre code {
	display: block;
	background: var(--bg-01);
	border-color: var(--bg-02);
	border-width: 0.25rem;
	border-style: solid;
	white-space: pre;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	padding: 1rem 0 1rem 1rem;
}