html {
	--grey-01:   #eff3f6;
	--grey-02:   #eceff1;
	--grey-03:   #d2d7db;
	--grey-04:   #2d3338;
	--grey-05:   #43484e;
	--grey-06:   #69737b;
	--grey-07:   #1c1e20;
	--grey-08:   #17181a;
	--grey-09:   #131414;
	--grey-10:   #070707;
	--blue-01:   #ddf4ff;
	--blue-02:   #b6e3ff;
	--blue-03:   #80ccff;
	--blue-04:   #57b0ff;
	--blue-05:   #218bff;
	--blue-06:   #0969da;
	--blue-07:   #0550ae;
	--blue-08:   #033d8b;
	--blue-09:   #0a3069;
	--blue-10:   #002155;
	--green-01:  #92f3a9;
	--green-02:  #91dfa2;
	--green-03:  #73c585;
	--green-04:  #57b56d;
	--green-05:  #3c9750;
	--green-06:  #2d7e3e;
	--green-07:  #1c5829;
	--green-08:  #184421;
	--green-09:  #13321a;
	--green-10:  #122617;
	--yellow-01: #fef8cd;
	--yellow-02: #fae17d;
	--yellow-03: #dcbe5a;
	--yellow-04: #d2a73e;
	--yellow-05: #be8700;
	--yellow-06: #a16300;
	--yellow-07: #894700;
	--yellow-08: #6e3510;
	--yellow-09: #572914;
	--yellow-10: #492412;
	--orange-01: #ffe4cb;
	--orange-02: #ffcb99;
	--orange-03: #ffac57;
	--orange-04: #fe892a;
	--orange-05: #d76509;
	--orange-06: #c14100;
	--orange-07: #9a2d00;
	--orange-08: #782500;
	--orange-09: #682200;
	--orange-10: #572000;
	--red-01:    #fdd3d0;
	--red-02:    #fcb3ae;
	--red-03:    #fd8d89;
	--red-04:    #f96062;
	--red-05:    #e3363a;
	--red-06:    #a8272e;
	--red-07:    #801522;
	--red-08:    #610b18;
	--red-09:    #500815;
	--red-10:    #340c11;
	--black:     #191C24;
	--white:     #C3CDD2;
	--white-bg:  #ececec;
}
