<style>
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: var(--footer);
    background-image: url(/assets/img/contours.svg);
}
ol {
    list-style-type: none;
}
.footer-border {
  height: 5px;
  width: 100%;
  background-color: #FFFFFF;
  color: transparent;
}
</style>
<footer class="footer">
  <div class="footer-border">&nbsp</div>
  FOOTER!!
</footer>