<div class="masthead">
    <div><img class="logo" src="/assets/img/logo.svg" aria-hidden="true"/><a href="/">rabbithawk256.dev</a></div>
  <div class="links">
    <a href="/about">About</a>
    <!-- 
    show these once they have content  
    <a href="/blog">Blog</a>
    <a href="/work">Work</a> 
    !-->
    <a href="/contact">Contact</a>
  </div>
<ul>
</ul>
</div>
