* {
	--font-stack: "Archivo", "Helvetica", sans-serif;
}

/* @link https://utopia.fyi/type/calculator?c=500,18,1.2,1920,18,1.25,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

body:not(strong, em) {
	color: var(--fg);
	text-decoration: none;
	font-family: var(--font-stack);
	font-weight: 400;
	font-size: var(--step-0);
	line-height: var(--space-xl);
	font-variant-numeric: oldstyle-nums;

	h1, .post-title {
		font-weight: 600;
		font-variation-settings: "wdth" 90;
		font-size: var(--step-3);
		line-height: normal;
	}
	h2 {
		font-weight: 500;
		font-size: var(--step-2);
		font-variation-settings: "wdth" 90;
	}
	h3 {
		font-weight: 600;
		font-size: var(--step-1);
	}
	.breadcrumb {
		font-size: var(--step-0);
		font-family: 'IBM Plex Mono';
		text-transform: uppercase;
	}
	a {
		color: var(--accent);
		font-weight: 600;
		word-break: break-word;
		text-decoration: underline;
		text-decoration-color: currentcolor;
		text-decoration-thickness: auto;
		text-decoration-thickness: 0.6em;
		text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
		text-decoration-skip-ink: none;
		text-underline-offset: -0.25em;
	}
	a:hover, a:focus {
		color: var(--accent-hover);
	}
	blockquote {
		font-style: italic;
		font-size: var(--step-1);
		border-left: 2px solid;
		padding-left: var(--space-s);
		margin-left: var(--space-s);
	}
}
